.custom-dialog {
    -fx-background-color: white;
}

.custom-dialog > *.button-bar > *.container {
    -fx-background-color: white;
}

.custom-dialog > *.button-bar > *.container *.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-min-width: 80px;
}

.custom-dialog > *.button-bar > *.container *.button:hover {
    -fx-background-color: #2980b9;
}

.custom-dialog .separator {
    -fx-padding: 10 0 10 0;
} 